name: Main CI

on:
  pull_request:
    branches:
      - "main"

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  all-status-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - ci-req-check
      - yaml-lint
      - action-lint
      - dotenv-lint
      - markdown-lint
      - shell-lint
      - get-projects
      - extract-python-projects
      - python-lint
      - python-format-check
      - python-type-check
      - dockerfile-lint
      - terraform-lint
      - kics
      - ansible-lint
    if: ${{ always() }}
    steps:
      - name: Fail if any needed job failed
        env:
          JOBS: ${{ toJson(needs) }}
        run: |
          for result in $(jq -r '.[].result' <<<"$JOBS"); do
            if [[ ! "$result" =~ ^(success|skipped)$ ]]; then
              exit 1
            fi
          done

  ci-req-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Check all-status-check
        run: |
          diff \
            <(yq ".jobs | del(.all-status-check) | keys.[]" .github/workflows/ci.yml) \
            <(yq ".jobs.all-status-check.needs.[]" .github/workflows/ci.yml)

  yaml-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-yamllint@f01d8a48fd8d89f89895499fca2cff09f9e9e8c0 # v1.21.0
        with:
          level: warning
          yamllint_flags: "-c .yamllint ."
          fail_on_error: true

  action-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1.69.1
        with:
          level: warning
          fail_on_error: true

  dotenv-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: dotenv-linter/action-dotenv-linter@21287e2624aaf2dc8da5dd8ccfe8e49c63501116 # v2.25.0
        with:
          dotenv_linter_flags: --skip UnorderedKey
          fail_on_error: true

  markdown-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-markdownlint@3667398db9118d7e78f7a63d10e26ce454ba5f58 # v0.26.2
        with:
          level: warning
          fail_on_error: true

  shell-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        with:
          level: warning
          fail_on_error: true

  get-projects:
    uses: ./.github/workflows/detect-changed-projects.yml

  extract-python-projects:
    needs: get-projects
    if: ${{ needs.get-projects.outputs.updated-projects != '[]' }}
    uses: ./.github/workflows/extract-projects-by-ci-type.yml
    with:
      ci-type: python
      updated-projects: ${{ needs.get-projects.outputs.updated-projects }}

  python-lint:
    name: "python-lint: ${{ matrix.project.name }}"
    runs-on: ubuntu-latest
    needs: extract-python-projects
    if: ${{ needs.extract-python-projects.outputs.projects != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        project: ${{ fromJson(needs.extract-python-projects.outputs.projects) }}
    defaults:
      run:
        working-directory: ${{ matrix.project.path }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
      - name: Lint check
        run: ruff check

  python-format-check:
    name: "python-format-check: ${{ matrix.project.name }}"
    runs-on: ubuntu-latest
    needs: extract-python-projects
    if: ${{ needs.extract-python-projects.outputs.projects != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        project: ${{ fromJson(needs.extract-python-projects.outputs.projects) }}
    defaults:
      run:
        working-directory: ${{ matrix.project.path }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
      - name: Format check
        run: ruff format --check

  python-type-check:
    name: "python-type-check: ${{ matrix.project.name }}"
    runs-on: ubuntu-latest
    needs: extract-python-projects
    if: ${{ needs.extract-python-projects.outputs.projects != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        project: ${{ fromJson(needs.extract-python-projects.outputs.projects) }}
    defaults:
      run:
        working-directory: ${{ matrix.project.path }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          activate-environment: true
          working-directory: ${{ matrix.project.path }}
      - name: Update project
        run: uv sync
      - name: Type check
        run: uvx ty check

  dockerfile-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: Dockerfile
          recursive: true
          # - uses: hadolint/hadolint-action@54c9adbab1582c2ef04b2016b760714a4bfde3cf # v3.1.0
          #   with:
          #     dockerfile: Dockerfile.*
          #     recursive: true

  terraform-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - name: Terraform fmt
        run: |
          terraform fmt -check
      - name: Init Terraform
        run: |
          terraform init -input=false
      - name: Terraform validate
        run: |
          terraform validate
      - uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
      - name: Init TFLint
        run: |
          tflint --init
      - name: Run TFLint
        run: |
          tflint -f compact

  kics:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: checkmarx/kics-github-action@63fca4ca72e56edbb5a599ee756e6af1fdb1e785 # v2.1.18
        with:
          path: .

  ansible-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Run ansible-lint
        uses: ansible/ansible-lint@a2bc8b8b13a80802215856c56823d85007d3baf5 # v25.12.2
        with:
          working_directory: "infra/ansible"
          requirements_file: "requirements.yml"
