name: release

on:
  push:
    branches:
      - main

permissions: {}

jobs:
  detect-release-commit:
    name: Detect release commit
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      is-release-commit: ${{ steps.check-associated-pr.outputs.is-release-commit }}
      title: ${{ fromJson(steps.check-associated-pr.outputs.info).title }}
      body: ${{ fromJson(steps.check-associated-pr.outputs.info).body }}
      next-tag: ${{ fromJson(steps.check-associated-pr.outputs.info).headRefName }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Check associated Pull Request
        id: check-associated-pr
        run: |
          info="$(gh pr list -S="$GITHUB_SHA" -s=merged --json='title,body,headRefName,author,labels' --jq='.[0]')"
          echo "info=$info" | tee -a "$GITHUB_OUTPUT"
          isGitHubActionsApp="$(jq -r '.author.login == "app/github-actions"' <<<"$info")"
          releaseLabel="$(jq -rc '.labels[] | select(.name == "release")' <<<"$info")"
          if "$isGitHubActionsApp" && [[ -n "$releaseLabel" ]]; then
            echo 'is-release-commit=true'
          else
            echo 'is-release-commit=false'
          fi | tee -a "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  get-projects:
    needs: detect-release-commit
    if: ${{ needs.detect-release-commit.outputs.is-release-commit == 'false' }}
    permissions:
      contents: read
      pull-requests: read
    uses: ./.github/workflows/detect-changed-projects.yml

  create-pull-request:
    name: Create release Pull Request for ${{ matrix.project.name }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    needs: get-projects
    if: ${{ needs.get-projects.outputs.updated-projects != '[]' }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        project: ${{ fromJson(needs.get-projects.outputs.updated-projects) }}
    steps:
      - uses: actions/checkout@v5
      - name: Get next version
        id: get-next-version
        run: |
          current_version="$(gh release list --json='tagName' --jq="map(select(.tagName | test(\"^$project-\"))) | .[0].tagName")"
          if [[ -n "$current_version" ]]; then
            echo "version=$((${current_version#"$project-"} + 1))"
          else
            echo 'version=1'
          fi | tee -a "$GITHUB_OUTPUT"
        env:
          project: ${{ matrix.project.name }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create changelog file
        run: |
          cat <<EOF >"$file"
          ## What's Changed for $version

          - $message
          EOF
          if changelog="$(gh api "/repos/$GITHUB_REPOSITORY/contents/$file?ref=$branch")"; then
            jq -rc '.download_url' <<<"$changelog" | xargs curl | tail -n +3 >>"$file"
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: ${{ github.event.head_commit.message }}
          version: ${{ steps.get-next-version.outputs.version }}
          branch: ${{ matrix.project.name }}-${{ steps.get-next-version.outputs.version }}
          file: ${{ matrix.project.path }}/CHANGELOG.md
      - name: Create release Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          commit-message: "chore(release): Release ${{ matrix.project.name }} ${{ steps.get-next-version.outputs.version }}"
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          branch: ${{ matrix.project.name }}-${{ steps.get-next-version.outputs.version }}
          sign-commits: true
          title: Release ${{ matrix.project.name }} ${{ steps.get-next-version.outputs.version }}
          body-path: ${{ matrix.project.path }}/CHANGELOG.md
          labels: release

  release:
    name: Create release and tag
    permissions:
      contents: write
    needs: detect-release-commit
    if: ${{ needs.detect-release-commit.outputs.is-release-commit == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Create release and tag
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          body: ${{ needs.detect-release-commit.outputs.body }}
          name: ${{ needs.detect-release-commit.outputs.title }}
          tag: ${{ needs.detect-release-commit.outputs.next-tag }}
